<div class="cart">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-12">
        <div class="cart-name">
          <p>Cart</p>
        </div>
        <div *ngIf="items.length == 0" class="empty-cart">
          <p>{{ empty }}</p>
        </div>
        <div class="success-cart">{{ result }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="cart-table">
          <table class="table" *ngFor="let item of items; let i = index">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Sự miêu tả</th>
                <th scope="col">Giá bán</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img src="{{ item.image }}" alt="image" />
                </td>
                <td class="line-height">
                  {{ item.description }}
                </td>
                <td class="line-height">
                  <span class="cart-price"
                    ><strong>{{ item.price | currency }}</strong></span
                  >
                </td>
                <td>
                  <button class="btn" (click)="clearCart(item)">
                    <i class="fas fa-minus-circle"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="cart-form" *ngIf="items.length > 0">
          <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Enter name"
                [(ngModel)]="customer.name"
                #name="ngModel"
                required
              />
              <div
                [hidden]="name.valid || name.untouched"
                class="alert alert-danger"
              >
                No name
              </div>
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input
                type="number"
                class="form-control"
                id="phone"
                name="phone"
                placeholder="Phone"
                [(ngModel)]="customer.phone"
                #phone="ngModel"
                required
                pattern="[0-9]{10}"
              />
              <small id="phoneHelp" class="form-text text-muted"
                >We'll never share your phone with anyone else.</small
              >
              <div
                [hidden]="phone.valid || phone.untouched"
                class="alert alert-danger"
              >
                No correct phone
              </div>
            </div>
            <div class="form-group">
              <label for="address">Address delivery</label>
              <input
                type="text"
                class="form-control"
                id="adress"
                name="adress"
                aria-describedby="adress"
                placeholder="Enter adress"
                [(ngModel)]="customer.adress"
                #adress="ngModel"
                required
              />
              <div
                [hidden]="adress.valid || adress.untouched"
                class="alert alert-danger"
              >
                No adress
              </div>
            </div>
            <button
              name="order-form"
              title="Order form"
              class="btn btn-secondary a-button-input"
              value="Order now"
              (click)="onSubmit()"
              [disabled]="name.invalid || adress.invalid || phone.invalid"
            >
              Buy and delivery
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
