.navbar-color{
  background: #fff;
  color: #fff;
}
.navbar-brand {
  transform: translateX(-50%);
  left: 55%;
  position: absolute;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  width: 70%;
  padding: 7px 14px;
}
.nav-link {
  display: block;
  width: 44px;
  height: 44px;
  font-size: 30px;
  text-align: center;
}
.nav-item {
  padding-left: 20px;
}
.nav-link:last-child{
  color: #a40001;
  line-height: 1.5rem;
  .fas{
    display: contents;
  }
  i,.fas:hover{
    color: #a40001;
  }
}
.fas {
  color: #a40001;
}


