<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-12 footer-title">
        <ul class="footer__link">
          <li><a href=""><u>About us</u></a></li>
          <li><a href=""><strong>Adress:</strong></a></li>
          <li>349 Ngo Gia Tiu-Long Bien - Ha Noi</li>
        </ul> 
      </div>
      <div class="col-lg-4 col-12 text-center">        
        <ul class="footer__socials">
          <li><a href="" title="Facebook" target="_blank"><i class="fab fa-facebook"></i></a></li>
          <li><a href="" title="watsapp"><i class="fab fa-whatsapp"></i></a></li>
          <li><a href="" title="Email"><i class="far fa-envelope"></i></a></li>
          <li><a href="tel:" title="Phone"><i class="fas fa-phone"></i></a></li>
        </ul>
        <ul class="footer__contact">
          <li>
            Tel: <a href="tel:0393434658">0393434658</a>
          </li>
          <li>
            Email: <a href="mailto:service@esgame.vn">service@.vn</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-12 text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.252366511602!2d105.89269461460512!3d21.06258039199953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135a99754d34375%3A0x2ed4d12f9ccf4b48!2zMzQ5IE5nLiBHaWEgVOG7sSwgxJDhu6ljIEdpYW5nLCBMb25nIEJpw6puLCBIw6AgTuG7mWksINCS0YzQtdGC0L3QsNC8!5e0!3m2!1sru!2s!4v1617768630862!5m2!1sru!2s" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</footer>
