<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 col-lg-8 offset-md-1 offset-lg-2 text-center">
        <div class="footer__logo">
          <a href="/"><img src="images/portal/logo.svg')" alt=""></a>
        </div>
        <ul class="footer__link">
          <li><a href="">frontend.about_us</a></li>
          <li><a href="">frontend.user_agreement</a></li>
          <li><a href="">frontend.privacy_policy</a></li>
        </ul>
        <ul class="footer__socials">
          <li><a href="https://www.facebook.com/ESG-102591234654099/" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="" title="Youtube Coming Soon"><i class="fab fa-youtube"></i></a></li>
          <li><a href="" title="Email"><i class="far fa-envelope"></i></a></li>
          <li><a href="tel:0393434658" title="Phone"><i class="fas fa-phone"></i></a></li>
        </ul>
        <ul class="footer__contact">
          <li>

          </li>
          <li>
            Tel: <a href="tel:0393434658">0393434658</a>
          </li>
          <li>
            Email: <a href="mailto:service@esgame.vn">service@esgame.vn</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
