<!-- Background image -->
<div class="p-5 text-center bg-image">
  <a class="btn btn-outline-light btn-lg promo-button" href="#!" role="button">Call to order</a>
</div>
<!-- Background image -->
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-12">
        <div class="promo_delivery">
          <h2>
          Same day flower delivery
          <i class="fas fa-shipping-fast"></i>
          </h2>
        </div>    
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-12">
        <p style="color:blueviolet; font-size: 1rem; padding:5px;">We offers Same Day Flower Delivery across Vietnam 24/7. Featuring over 400 beautiful bouquets and floral arrangements. </p>
      </div>
    </div>    
</div>