.about {
  margin-bottom: 30%;
  .about-name {
    color: #a40001;
    font-size: 30px;
    margin-top: 2%;
  }
  .about-title {
    font-size: 20rem;
    color: #a40001;
    p {
      margin-top: 2%;
      font-size: 5rem;
    }
  }
}
