<div class="container">
  <div class="row">
    <div class="col-lg-12 col12">
      <div class="add-container">
        <h3 class="title">Add product data</h3>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name" class="subtitle-input-label">Name product</label>
            <input
              type="text"
              class="form-control color-border"
              id="name"
              name="name"
              placeholder="Add name"
              formControlName="name"
              [(ngModel)]="productAdd.name"
            />
            <div
              *ngIf="form.get('name')!.invalid && form.get('name')?.touched"
              class="alert alert-danger validation"
            >
              No name
            </div>
          </div>
          <div class="form-group">
            <label for="price" class="subtitle-input-label">Price</label>
            <input
              type="number"
              class="form-control color-border"
              id="price"
              name="price"
              placeholder="price"
              formControlName="price"
              [(ngModel)]="productAdd.price"
            />
            <div
              *ngIf="form.get('price')!.invalid && form.get('price')?.touched"
              class="alert alert-danger validation"
            >
              No price
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="subtitle-input-label"
              >Description</label
            >
            <textarea
              class="form-control color-border"
              id="description"
              rows="3"
              name="description"
              formControlName="description"
              [(ngModel)]="productAdd.description"
            ></textarea>
            <div
              *ngIf="
                form.get('description')!.invalid &&
                form.get('description')?.touched
              "
              class="alert alert-danger validation"
            >
              No description
            </div>
          </div>

          <div class="form-group">
            <label for="picture-file" class="subtitle-input-label"
              >Chose picture</label
            >
            <input
              type="file"
              class="form-control-file"
              id="picture-file"
              name="image"
              formControlName="image"
              [(ngModel)]="productAdd.image"
            />
          </div>
          <div
            class="success"
            style="color: red; font-size: 2rem; padding-bottom: 1rem"
          >
            {{ result }}
          </div>

          <button type="submit" class="btn head-block">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
