<div class="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-12">
        <div class="about-name">
          <p>{{ name }}</p>
        </div>
        <div class="about-body">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis,
          magni tempore eius alias minus placeat? Aperiam excepturi rerum
          voluptate vitae reiciendis dolorem eveniet vero molestiae? Ad qui sed
          placeat illo.
        </div>
      </div>
    </div>
  </div>
</div>
