<section>
    <div class="news-slider">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="news-block" >
                        <div class="news-item" *ngFor="let items of items;">
                            <p>{{ items.description}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="news-slider">
                        <ngb-carousel
                        [showNavigationArrows]="false"
                        [showNavigationIndicators]="false"
                        >
                            <ng-template ngbSlide *ngFor="let sliders of sliders;">
                              <div class="picsum-img-wrapper">
                                <img src="{{sliders.image}}" alt="Angular Carousel 1" style="width:100%">
                              </div>
                            </ng-template>
                          </ngb-carousel>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="news-block">
                        <div class="news-testimonial" >
                            <div class="news-slider">
                                <ngb-carousel
                                [showNavigationArrows]="false"
                                [showNavigationIndicators]="false"
                                [interval]="12000"
                                [keyboard]="true"
                                >
                                    <ng-template ngbSlide *ngFor="let reviews of reviews;">
                                      <div class="picsum-img-wrapper" >
                                        <div class="title"><strong>{{reviews.title}}</strong> </div>
                                        <div class="stars">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div class="description">
                                            <i>"{{reviews.description}}"</i>
                                        </div>
                                      </div>
                                    </ng-template>
                                  </ngb-carousel>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
