.footer{
  background: #a40001;
  color: #fff;
  position: absolute;
  width: 100%;
  .footer-title {
    @media screen and(max-width:991px) { 
      margin-top:2%;
      text-align: center;   
    }
  }
  a{
    color:white;
  }
  &__logo{
    img{
      max-width: 80px;
    }
  }
  &__logo-desc{
    margin: 1rem 0 0;

    font-weight: 500;
  }
  &__copyright{
    margin-top: 1rem
  }
  &__link{
    padding: 0;
    margin: 0;
    list-style: none;
    margin: 2rem 0;
    font-size: 14px;

    li{
      padding: 5px;
      a:hover{

      }
    }
  }
  &__socials{
    padding: 0;
    margin: 2rem 0;
    list-style: none;
    li{
      display: inline-block;
      padding: 5px;
      a{
        display: block;
        width: 44px;
        height: 44px;
        border: 2px solid;
        border-radius: 50%;
        line-height: 44px;
        font-size: 20px;
        text-align: center;
        
        &:hover{
          color: lightblue;

        }
      }
    }
  }
  &__contact{
    padding: 0;
    margin: 0 0 1rem;
    list-style: none;
    line-height: 1.8;
    li{
      margin-top: 0.5rem;
    }
  }
  iframe{
    padding: 22px;
  }
}
