.coming-soon {
  margin-bottom: 5%;
  .coming-soon-name {
    color: #a40001;
    font-size: 30px;
    margin-top: 2%;
  }
  .coming-soon-title {
    font-size: 20rem;
    color: #a40001;
    p {
      margin-top: 2%;
      font-size: 5rem;
    }
  }
}
