<section>
    <div class="news-slider">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="news-block">
                        <div class="news-item">
                            <p>30% sale</p>
                        </div>
                        <div class="news-item">
                            <p>Birthday Flowers and Gifts</p>
                        </div>
                        <div class="news-item">
                            <p>Delivery same day</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="news-slider">
                        <img src="/assets/image/slider.jpeg" alt="image" style="width:100%">
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="news-block">
                        <div class="news-testimonial" >
                            <div class="title"><strong> Helen, Weston</strong> </div>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="description">
                                <i><strong>"</strong>I often use Bloomex to send flowers to friends and loved ones. Their prices are good their flowers excellent and I have never had an issue with delivery I will continue to use them, above other options for my flower delivery.<strong>"</strong></i> 
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
