<section class="shop-section">
  <div class="container-fluid">
    <h2 class="shop-title">Most popular flowers in flowerbank</h2>
    <div class="row">
      <div class="col-12 col-lg-12 tex-center">
          <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p class="shop-card_price shop-card"><strong>100 000 d</strong></p>
              <p class="shop-card_title shop-card"><i>(Rose)</i></p>
            </mat-card-content>
          </mat-card>
        <mat-card class="example-card">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p class="shop-card_price shop-card"><strong>100 000 d</strong></p>
            <p class="shop-card_title shop-card"><i>(Rose)</i></p>
          </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p class="shop-card_price shop-card"><strong>100 000 d</strong></p>
            <p class="shop-card_title shop-card"><i>(Rose)</i></p>
          </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p class="shop-card_price shop-card"><strong>100 000 d</strong></p>
            <p class="shop-card_title shop-card"><i>(Rose)</i></p>
          </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p class="shop-card_price shop-card"><strong>100 000 d</strong></p>
            <p class="shop-card_title shop-card"><i>(Rose)</i></p>
          </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p class="shop-card_price shop-card"><strong>100 000 d</strong></p>
            <p class="shop-card_title shop-card"><i>(Rose)</i></p>
          </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p class="shop-card_price shop-card"><strong>100 000 d</strong></p>
            <p class="shop-card_title shop-card"><i>(Rose)</i></p>
          </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p class="shop-card_price shop-card"><strong>100 000 d</strong></p>
            <p class="shop-card_title shop-card"><i>(Rose)</i></p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
