.container {
  margin-top: 30px;
}
.title {
  color: #a40001;
  font-size: 1.5rem;
}
.subtitle {
  color: #a40001;
  font-size: 1rem;
}
.head-block {
  background-color: #a40001;
  color: white;
  font-size: 1rem;
}
.button-update-table {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
.align-block {
  padding-bottom: 2rem;
}
