<div class="delivery">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-12">
        <div class="delivery-name">
          <i>{{ name }}</i>
        </div>
      </div>
    </div>

    <div class="delivery-body">
      <div class="row">
        <div class="col-md-4 col-12">
          <div class="delivery-card">
            <div class="delivery-title">
              <div class="delivery-icon text-center">
                <i class="far fa-clock"></i>
              </div>
              <div class="delivery-text-title text-center">
                <h3>Thời gian</h3>
              </div>
            </div>
            <div class="delivery-body">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Consectetur nam, quisquam consequuntur nemo minus vero sint veniam
              culpa commodi accusamus, sit, atque officia. Hic, quis quod ex
              aspernatur maxime impedit.
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="delivery-card">
            <div class="delivery-title">
              <div class="delivery-icon text-center">
                <i class="fas fa-truck"></i>
              </div>
              <div class="delivery-text-title text-center">
                <h3>Vận chuyển</h3>
              </div>
            </div>
            <div class="delivery-body">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Consectetur nam, quisquam consequuntur nemo minus vero sint veniam
              culpa commodi accusamus, sit, atque officia. Hic, quis quod ex
              aspernatur maxime impedit.
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="delivery-card">
            <div class="delivery-title">
              <div class="delivery-icon text-center">
                <i class="fas fa-globe"></i>
              </div>
              <div class="delivery-text-title text-center">
                <h3>Worldwide</h3>
              </div>
            </div>
            <div class="delivery-body">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Consectetur nam, quisquam consequuntur nemo minus vero sint veniam
              culpa commodi accusamus, sit, atque officia. Hic, quis quod ex
              aspernatur maxime impedit.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
