<div class="delivery">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-12">
        <div class="delivery-name">
          <i>{{ name }}</i>
        </div>
      </div>
    </div>

    <div class="delivery-body">
      <div class="row">
        <div class="col-md-4 col-12">
          <div class="item">
            <div class="item-title text-center">
              <i class="far fa-clock item-icon"></i>
              <h3 class="item-text-title">Thời gian</h3>
            </div>
            <p class="item-body">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Consectetur nam, quisquam consequuntur nemo minus vero sint veniam
              culpa commodi accusamus, sit, atque officia. Hic, quis quod ex
              aspernatur maxime impedit.
            </p>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="item">
            <div class="item-title text-center">
              <i class="fas fa-truck item-icon"></i>
              <h3 class="item-text-title">Vận chuyển</h3>
            </div>
            <p class="item-body">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Consectetur nam, quisquam consequuntur nemo minus vero sint veniam
              culpa commodi accusamus, sit, atque officia. Hic, quis quod ex
              aspernatur maxime impedit.
            </p>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="item">
            <div class="item-title text-center">
              <i class="fas fa-globe item-icon"></i>
              <h3 class="item-text-title">Worldwide</h3>
            </div>
            <p class="item-body">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Consectetur nam, quisquam consequuntur nemo minus vero sint veniam
              culpa commodi accusamus, sit, atque officia. Hic, quis quod ex
              aspernatur maxime impedit.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
